---
layout: default
---

<div class="archive">
  <!--
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2 class="post-title">{{ post.title }}</h2>
      </a>
    </li>
    {% endfor %}
  </ul>

</div> -->
<main class="main-page">

  <ul class="post-list">
    {% for post in site.posts limit:10 %}
    <li class="post-item">

      <article>
        <header class="post-header">
          <h2 class="post-title" itemprop="name headline">{{ post.title }}</h2>
          <p class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
          </p>
        </header>
        {{ post.content | markdownify | truncatewords: 60 }}
      </article>
      <p>
        <a href="{{ post.url }}" class="read-more">Read more&hellip;</a>
      </p>
    </li>
    {% endfor %}
  </ul>

</main>