// Our variables
$base-font-family: "Fira Mono", monospace;
$base-font-size: 16px;
$base-font-weight: 400;
$super-font-weight: 100;
$base-line-height: 1.7;

$spacing-unit: 2rem;
$cathodeGlow: 0 0 3px;
$transition-time: 0.2s;

// dracula colors
$draculaBlack: #282a36;
$draculaGray: #44475a;
$draculaLightBlue: #8be9fd;
$draculaBlue: #6272a4;
$draculaGreen: #50fa7b;
$draculaRed: #ff5555;

$text-color: #ddd;
$background-color: $draculaBlack;

// Width of the content area
$content-width: 960px;

$on-palm: 960px;
$on-laptop: 960px;
