<header class="site-header">

  <div class="wrapper">

    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <a class="site-title" href="{{ site.baseurl }}/">/</a>

    <nav class="site-nav">
        <!--
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
        -->
        <!-- <a class="page-link" href="{{ "/works" | prepend: site.baseurl }}">works</a> -->
        <a class="page-link" href="{{ "/archive" | prepend: site.baseurl }}">archive</a>
        <a class="page-link" href="{{ "/contact" | prepend: site.baseurl }}">contact</a>
    </nav>

  </div>

</header>
