/**
 * Site header
 */

.site-header {
  //margin: 0 0 40px;
  .wrapper {
    background: $background-color;
    border-bottom: 1px dashed $p-color;
    box-shadow: $shadow;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  * {
    text-decoration: none;
  }
}

.site-title {
  font-family: $super-font-family;
  color: $text-color;
  border-bottom: none;
  font-size: $base-font-size * 1.618;
  font-weight: $super-font-weight;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &:visited,
  &:hover {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    border-bottom: none;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    position: relative;
    color: $text-color;
    border-bottom: none;
    line-height: $base-line-height;
    &:before {
      content: '.';
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      background: $text-color;
      width: 0;
      transition: $transition-time;
    }
    &:hover {
      background: transparent;
      &:after {
        width: 100%;
        background: $hover-color;
        transition: $transition-time;
      }
    } 
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: #fbfbfb;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $pd-color;
        }
      }
      &:hover {
        > svg {
          path {
            fill: $background-color;
            transition: $transition-time;
          }
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px; 
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 0px;
    }
  }
}



/**
 * Site footer
 */

.site-footer {
  .wrapper {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    border-top: 1px dashed $p-color;
    background: $background-color;
    box-shadow: $shadow;
    font-size: $base-font-size / 1.618;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit / 1.618;
  }
}

.contact-social-icons * {
  font-size: $base-font-size;
  margin-right: 5px;
  &:hover {
    background-color: $background-color;
  }
}

.contact-social-icons i {
  padding: 5px;
  border: 1px dashed transparent;
  border-radius: 20%;
  &:hover {
    border: 1px dashed $p-color;
  }
}

.copyright {
  font-size: $base-font-size / 1.618;
}





/**
 * Page content
 */

.page-content {
  .wrapper {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    background: $background-color;
    box-shadow: $shadow;
  }
}

.page-heading {
  font-size: $base-font-size * 2;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: calc(100% + #{$spacing-unit});
  margin-left: -$spacing-unit / 2;

  > li {
    width: calc(33.333% - #{$spacing-unit});
    padding: $spacing-unit / 2;
    margin: $spacing-unit / 2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: $shadow;
    background: $text-color;
  }
}

.post-meta {
  font-family: $mono-font-family;
  font-size: $small-font-size;
  color: $p-color;
}

.post-link {
  display: block;
  font-family: $sans-font-family;
  font-size: $base-font-size;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  border-bottom: none;
  &:visited {
    color: $s-color;
    background-color: $s-color;
    &:hover {
      color: $white-color;
      background-color: $s-color;
    }
  }
}





/**
 * Landing Page
 */

.landing {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: $p-color;
}

.landing-wrapper {
  max-width: 380px;
  background: $white-color;
  border: 1px dashed $p-color;
  box-shadow: $shadow;
  padding: 20px 45px;
}

#landing-title,
#landing-title * {
  font-family: $super-font-family;
  font-weight: $super-font-weight;
  font-size: $base-font-size * 1.618;
  color: $text-color;
  text-decoration: none;
  border-bottom: none;
  margin-bottom: 0;
  &:hover {
    text-decoration: inherit;
    background-color: inherit;
  }
  @include media-query($on-palm) {
    font-size: $base-font-size * 1.4;
  }
}

#lpi {}

#landing-subtitle {
  font-size: $base-font-size * 0.9;
  line-height: 1.2;
  margin-bottom: $spacing-unit;
  @include media-query($on-palm) {
    font-size: $base-font-size * 0.7;
  }
}

.landing-list {
  list-style-type: none;
  margin-left: 0;

  >li {
    margin-bottom: $spacing-unit / 2;
    a {
      position: relative;
      border-bottom: none;
      color: $text-color;
      font-size: $base-font-size * 1.1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: $text-color;
        height: 1px;
        width: 0;
        transition: $transition-time;
      }
      &:hover {
        transition: $transition-time;
        background: inherit;
        &:after {
          width: 100%;
          background: $hover-color;
          transition: $transition-time;
        }
      }
    }
  }
}

.rss-subscribe {
  font-size: $base-font-size / 1.618;
  margin-top: $spacing-unit;
}




/**
 * Posts
 */
.post {
  margin: $spacing-unit*2 auto;
  max-width: 70ch;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-family: $sans-font-family;
  font-weight: 700;
  font-size: $base-font-size * 1.3;
  letter-spacing: 2px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: $base-font-size * 1.3;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  counter-reset: p;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px dashed;
  }

  p {
    position: relative;
    &:before {
      content: counter(p, decimal-leading-zero);
      counter-increment: p;
      position: absolute;
      left: -4em;
      line-height: 2.5em;
      color: $p-color;
      font-family: $mono-font-family;
      font-size: $base-font-size / 1.5;
    }
  }
}



/**
 * Works
 */

.works-content {
  font-size: $base-font-size / 1.2;
  ul {
    list-style-type: square;
    li {
      margin-bottom: $spacing-unit / 1.618;
    }
  }
}
